$enable-rounded: false;
$primary: #224071;

// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/mixins/breakpoints';
// @import '~bootstrap/scss/variables';

// @import "~bootstrap/dist/css/bootstrap.min.css";

@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "onest";
    src: url("assets/fonts/Onest-Regular.woff") format("woff2");
}
@font-face {
    font-family: "onest";
    src: url("assets/fonts/Onest-Bold.woff") format("woff2");
    font-weight: bold;
}

body {
    font-family: "Onest";
    overflow: hidden;
}
